* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.079);
  height: 100vh;

  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.main__heading {
  color: white;
  padding: 20px;
  text-align: center;
}
.main {
  height: 77vh;
  padding: 27px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 14px;
  background-color: white;
  /* margin: ; */
}
.list {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.215);
  padding: 15px;
  background-color: rgb(197, 221, 244);
  border-left: 4px solid rgb(26, 83, 175);
}
.list__heading {
  color: rgb(26, 83, 175);
  margin: 12px 0;
  letter-spacing: 0.7px;
}

.list__description {
  color: rgb(15, 46, 96);
}

.list-2 {
  border-top: 2px dashed rgb(26, 83, 175);
}
